<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food List</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex flex-col mt-24 items-center h-screen bg-gray-100">
    <!-- Include the navigation bar -->
    {% include 'CustomerNav.html' %}

    <!-- Toolbar header -->
    <div class="w-full max-w-6xl mb-8 flex justify-between items-center">
        <!-- Search bar -->
        <input class="px-3 py-2 border rounded-md" type="text" placeholder="Search by name">

        <!-- Dropdown sorting -->
        <select class="px-3 py-2 border rounded-md appearance-none" style="color: #9ca3af;">
            <option value="" disabled selected>Sort by Name or Rating</option>
            <option value="">Sort by Name (Ascending)</option>
            <option value="">Sort by Name (Descending)</option>
            <option value="">Sort by Rating (Ascending)</option>
            <option value="">Sort by Rating (Descending)</option>
        </select>

        <!-- Dropdown filter -->
        <select class="px-3 py-2 border rounded-md appearance-none" style="color: #9ca3af;">
            <option value="" disabled selected>Filter by Rating</option>
            <option value="">1-1.99</option>
            <option value="">2-2.99</option>
            <option value="">3-3.99</option>
            <option value="">4-4.99</option>
            <option value="">5</option>
        </select>
    </div>

    <!-- Main content -->
    <div class="w-full max-w-6xl mb-8">
        <h1 class="text-2xl font-bold mb-4">Food List</h1>
        
        <!-- Food Grid -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-4">
            {% for food_item in food_items %}
            <a href="/customer/food-details/{{ food_item[0] }}" class="hover:cursor-pointer">
                <div class="bg-white shadow-md rounded-lg p-6">
                    <h2 class="text-lg font-bold mb-2">{{ food_item[1] }}</h2>
                    <p class="text-gray-600 mb-1">Price: {{ food_item[2] }}</p>
                    <p class="text-gray-600 mb-1">Type: {{ food_item[3] }}</p>
                    <p class="text-gray-600">Average Rating: {{ food_item[4] }}</p>
                    <a href="{{ url_for('review_food', food_id=food_item[0]) }}" class="text-blue-500 underline">Review this Food Item</a>
                    <br>
                    <a href="{{ url_for('view_food_reviews', food_id=food_item[0]) }}" class="text-blue-500 underline">View all reviews</a>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>
