
<!-- AdminNav.html -->
<nav class="bg-gray-100 p-4 sticky top-30 left-0 bottom-30 w-full z-10 border-b">
    <div class="container mx-auto flex justify-center items-center">
        <div class="flex ">
            <a class="text-gray-600 mr-20 hover:text-blue-700" href="/customer/food-reviews/{{food_id}}">All Reviews</a>
            <a class="text-gray-600 ml-20 hover:text-blue-700" href="/customer/food-reviews/users/{{food_id}}">Your Reviews</a>
            <a class="text-gray-600 ml-40 hover:text-blue-700" href="/customer/food-reviews/month/{{food_id}}">Reviews within the Month</a>
            <!-- <a class="text-white" href="/admin/add-establishment">Add Establishment</a> -->
            <!-- Add more navigation links as needed -->
        </div>
    </div>
</nav>

